{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Anechoic</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="/"><img id="top-logo" src="{% static 'main/logo.png' %}"></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
      <li><a href="/">Dashboard</a></li>
      <li><a href="/accounts/logout">Log Out</a></li>
    {% else %}
      <li><a href="/accounts/login">Log In</a></li>
    {% endif %}
    {% block menuextend %}{% endblock %}
    </ul>
  </div>
</nav>

{% block body %}
{% endblock %}

<footer class="footer">
  <div class="container text-center">
    <div class="container-fluid">
      <p>Anechoic</p>
    </div>
</footer>

</body>

</html>
